{%- assign title = page.info.name | default: include.title -%}
{%- assign nicknames = page.info.nicknames | default: include.nicknames -%}
{%- assign pronouns = page.info.pronouns | default: include.pronouns -%}
{%- assign imageURL = page.info.image | default: include.imageURL -%}
{%- assign lr = page.lr | default: include.lr | default: "right" -%}
{% comment %} Turns `nil` truthy, making the default behavior to show the infocard.{% endcomment %}
{% if page.staticInfoEnabled == nil %}
  {%- assign staticInfoEnabled = true -%}
{% else %}
  {%- assign staticInfoEnabled = page.staticInfoEnabled -%}
{%endif%}
<table class="info" lr="{{lr}}">
  {% if staticInfoEnabled %}
    {% if title %}
      <tr>
          <th colspan="100%">{{title}}</th>
      </tr>
    {% endif %}
    {% if imageURL %}
      <tr>
        <td colspan="100%"><img src="{{imageURL | relative_url }}" alt=""></td>
      </tr>
    {% endif %}
    {% if nicknames %}
      <tr>
        <td colspan="50%">Nicknames:</td>
        <td colspan="50%">
          {% for nick in nicknames %}
            {{nick}}<br>
          {% endfor %}
        </td>
      </tr>
    {% endif %}
    {% if pronouns %}
      <tr>
        <td colspan="50%">Pronouns:</td>
        <td colspan="50%">
          {% for pron in pronouns %}
            {{pron}}<br>
          {% endfor %}
        </td>
      </tr>
    {% endif %}
  {% endif %}
  {%- for row in page.infoCard -%}
  <tr>
      {%- assign colspan = 100 | divided_by: row.size -%}
      {%- if row.first[0] -%}
          {%- for item in row -%}
              <td colspan="50%">{{item[0]}}:</td>
              <td colspan="50%">{{item[1]}}</td>
          {%- endfor -%}
      {%- else -%}
          {%- for column in row -%}
              <td colspan="{{colspan}}%">{{column}}</td>
          {%- endfor -%}
      {%- endif -%}
  </tr>
  {%- endfor -%}
</table>