@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    overscroll-behavior: none;
    --accent-light: #0044cc;
    /* fallback or default for light mode */
    --accent-dark: #6699ff;
    /* fallback or default for dark mode */
    --SBarWidth: 320px;
    --TBarHeight: 54px;
    --A1: rgb(232, 99, 46);
    --A2: rgb(232, 145, 46);
    /*#region Dark mode */
    --LDOne: #FFFFFF;
    --LDTwo: #000000;
    --Sidebar: #101010;
    --Content: #201f1f;
    --TopBar: var(--Content);
    --TopBarButtons: var(--Sidebar);
    --Blockquote: #1b1b1b;
    --BlockquoteD: #191919;
    --Gradient: var(--Sidebar);
    --SearchBar: var(--BlockquoteD);
    --Resultsbox: #151515ea;
    --ResultsDark: rgba(0, 0, 0, 0.132);
    --ResultsBorder: var(--Sidebar);
    --Background: rgb(32, 32, 32);
    --Text: whitesmoke;
    --NavButton: rgb(22, 2, 2);
    --CodeBorder: var(--Highlight);
    --Highlight: #727272;
    --Highlight2: #949494;
    --Highlight3: var(--Text);
    --SbarBorder: rgb(32, 32, 32);
    --Shadow: rgba(0, 0, 0, 0.226);
    --CodeBlock: rgb(7, 8, 46);
    /*#endregion Dark mode */
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*#region  Light mode*/
[data-theme="light"] {
    --Accent: var(--accent-light);
    --Accent2: var(--accent-dark);
    --LDOne: #000000;
    --LDTwo: var(--SearchBar);
    --Sidebar: hsl(from var(--accent-light) h 40 80);
    --Content: #d2d0d0;
    --TopBar: hsl(from var(--accent-light) h 70 25);
    --TopBarButtons: hsl(from var(--TopBar) h s 20);
    --Blockquote: #eae8e8;
    --BlockquoteD: #ebebe5;
    --Gradient: hsl(from var(--accent-dark) h 95 90);
    --SearchBar: var(--ResultsDark);
    --Resultsbox: #f1f1f1;
    --ResultsDark: #f4f4f4;
    --ResultsBorder: var(--Accent);
    --Background: #474847;
    --Text: rgb(0, 0, 0);
    --NavButton: rgb(141, 144, 146);
    --CodeBorder: var(--Text);
    --Highlight: #2d2d2d;
    --Highlight2: #ece9e9;
    --Highlight3: var(--Highlight2);
    --SbarBorder: var(--Background);
    --Shadow: rgba(184, 184, 184, 0.094);
    --CodeBlock: rgb(40, 45, 116);
    --A1: rgb(85, 0, 85);
    --A2: purple;
}

/*#endregion Light mode*/

/*#region Body*/
body {
    --Accent: var(--accent-dark);
    --Accent2: var(--accent-light);
    display: flex;
    flex-flow: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0;
    font-family: "b612 mono";
    word-spacing: normal;
    font-size: 1rem;
    background-color: var(--Background);
    color: var(--Text);
    box-sizing: border-box;
}

/*#endregion Body*/

/*#region Navigation*/

header {
    width: 100%;
    height: var(--TBarHeight);
    font-family: "Exo 2";
    z-index: 3;
    background-color: var(--TopBar);
    position: fixed;
    top: 0;
    margin-bottom: auto;
    /* order: 1; */
    padding: 5px;
    border-bottom: 1px solid var(--Sidebar);
    display: grid;
    grid-template-columns: 35% 30% 35%;
    box-shadow: 0 5px var(--Shadow);
    align-items: center;
}

[data-theme="light"] header {
    border-bottom: none;
    box-shadow: none;
}

header>nav,
header>span {
    display: inline-flex;
}

header button,
search {
    border: none;
    height: fit-content;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    border-left: 5px solid var(--Accent);
    margin: 0.2rem;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-size: 1.3rem;
}

header>nav:first-of-type {
    justify-content: left;
}

header>nav:last-of-type {
    justify-content: right;
}

header>span {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header>nav>button {
    background-color: var(--TopBarButtons);

}
/* 
[data-theme="light"] header>nav>button {
    background-color: transparent;
} */

button:hover,
search:hover {
    border-left: 5px solid var(--Accent2);
}

button:active {
    border-left: 5px solid var(--TopBar);
}

/*#endregion Navigation*/

/*#region Search bar*/
search {
    background-color: var(--SearchBar);
}

input {
    font-size: 1.3rem;
    border: none;
    background-color: transparent;
    color: var(--Text);
}

input:focus,
textarea {
    outline: none !important;
    color: var(--Accent);
}

input[type="checkbox"] {
    width: 0.9em;
    height: 0.9em;
}

#results {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    width: 30%;
    padding: 5px;
    height: fit-content;
    float: right;
    clear: right;
    color: var(--Text);
    background-color: var(--Resultsbox);
    list-style-type: none;
    text-align: left;
    border: 2px solid var(--ResultsBorder);
    border-top: none;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

#results li:nth-of-type(2n) {
    background-color: var(--ResultsDark);
}

/*#endregion Search bar*/

/*#region LightDark*/
button.LightDark {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid var(--LDOne);
    background-image: linear-gradient(to right, var(--LDOne) 0%, var(--LDOne) 50%, var(--LDTwo) 50%, var(--LDTwo) 100%);
}

.LightDark:hover {
    border: 2px solid var(--LDTwo);
    background-image: linear-gradient(to right, var(--LDTwo) 0%, var(--LDTwo) 50%, var(--LDOne) 50%, var(--LDOne) 100%);
}

/*#endregion LightDark*/

/*#region Sidebar*/

menu {
    height: calc(100vh - var(--TBarHeight));
    width: var(--SBarWidth);
    z-index: 2;
    background-color: var(--Sidebar);
    margin: 0;
    position: sticky;
    top: var(--TBarHeight);
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 0.9rem;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overscroll-behavior-x: none;
    border-right: 1px solid var(--SbarBorder);
    scrollbar-width: none;
}

[data-theme="light"] menu {
    /* border-right: 5px solid var(--SbarBorder); */
    border-image: linear-gradient(to bottom right, hsl(from var(--accent-dark) h s 95) 50%, var(--Highlight) 50%) 1;
    border-width: 4px;
    border-style: solid;
    border-top: none;
}

menu>ul {
    padding-top: 10px;
    min-height: 50%;
    overflow-y: scroll;
    background-color: var(--Sidebar);
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--Highlight);
    padding-right: 5px;
}
/* 
[data-theme="light"] menu {
    padding: 5px;
} */

[data-theme="light"] menu>ul {
    border-bottom: none;
    /* text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.8), -0.5px -0.5px rgba(0, 0, 0, 0.8); */
}

menu>ul>li {
    height: fit-content;
}

menu>*:not(ul) {
    margin: 0 auto 0 auto;
}

menu::-webkit-scrollbar {
    display: none;
}

menu li {
    list-style-type: square;
    color: var(--A1);
}

menu li::marker {
    color: var(--A1);
}

menu li a{
    color: inherit;
}

menu li:nth-of-type(2n) a {
    color: var(--A2);
}

menu li li {
    list-style-type: none;
}

menu li ul {
    box-sizing: content-box;
    padding-left: 5px;
    border-left: 3px solid var(--A1);
    list-style-type: none;
}

/*#endregion Sidebar*/

/*#region Footer*/

footer {
    position: sticky;
    bottom: 0;
    background-color: var(--TopBar);
    border-top: 2px solid var(--Highlight);
    width: 100%;
}

/*#endregion Footer*/

/*#region Main*/

main {
    box-sizing: border-box;
    width: calc(100vw - var(--SBarWidth) - 10px);
    margin: var(--TBarHeight) auto 0 auto;
    background-color: var(--Content);
    padding: 0 5px 0 10px;
    border-top: 2px solid var(--Background);
    height: calc(100vh - var(--TBarHeight));
    overflow-y: scroll;
    overscroll-behavior-y: contain;
}

main > :not(blockquote, table, code, h1, h2, h3, h4, h5, h6) {
    margin-top: 2px;
    font-family: "titillium web";
    font-size: 1.1rem;
}

main>header {
    position: sticky;
    top: 0;
}

[data-theme="light"] main {
    margin: calc(var(--TBarHeight) + 5px) 0 0 0;
    height: calc(100vh - var(--TBarHeight) - 5px);;
    border-image: linear-gradient(to bottom right, hsl(from var(--accent-dark) h s 95) 50%, var(--Highlight) 50%) 1;
    border-width: 4px;
    border-style: solid;
    /* box-shadow: inset 4px 4px hsl(from var(--accent-dark) h s 95), inset -4px -4px var(--Highlight);
    padding-top: 5px;
    padding-bottom: 5px; */
}

[data-theme="light"] main a{
    /* text-shadow: 1px -1px var(--Highlight), 1px 1px var(--Highlight), -1px 1px var(--Highlight), -1px -1px var(--Highlight); */
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
}

/*#endregion Main*/

body> :not(header, menu, main) {
    order: 2;
    max-width: calc(100vw - (2 * var(--SBarWidth)) - 10px);
    margin: 0 calc(var(--SBarWidth) + 5px) 0 calc(var(--SBarWidth) + 5px);
    padding: 5px;
}

/*#region Scrollbar*/

::-webkit-scrollbar {
    z-index: 1;
    background-color: transparent;
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar:hover {
    background-color: var(--Highlight);
    width: 5px;
}

::-webkit-scrollbar-track:hover {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--Text);
}

/*#endregion Sidebar*/

/*#region Headings*/

h1 {
    margin: 0;
    font-family: "Exo 2";
    width: 50%;
    border-bottom: 2px solid var(--Accent);
}

h2 {
    margin: 0;
    font-family: "Exo 2";
}

h3 {
    margin: 0;
    font-family: "Exo 2";
}

h4 {
    margin: 0;
    font-family: "Exo 2";
    /* width: 100%; */
}

h5 {
    margin: 0;
    font-family: "Exo 2";
}

h6 {
    margin: 0;
    font-family: "Exo 2";
}

/*#endregion Headings*/

/*#region Tables*/

table,
th,
td {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

table {
    display: block;
    overflow-x: scroll;
    font-family: "b612 mono";
    margin: 1.5rem 0 1.5rem 0;
    max-width: 100%;
    padding: 5px;
}

td {
    background-color: var(--Blockquote);
    padding: 10px;
    border-left: 3px solid var(--Accent);
    border-right: 3px solid var(--Accent);
    text-align: center;
}

th,
caption {
    font-weight: 700;
    background-color: var(--BlockquoteD);
    padding: 0.5rem 20px 0.5rem 20px;
    text-align: center;
}

/*#endregion Tables*/

/*#region Info tables*/

.info {
    width: fit-content;
    max-width: 320px;
    font-family: "b612 mono";
    border-spacing: 0;
    background-color: var(--Blockquote);
    margin: 0 2px 0 2px;
    padding: 2px;
    word-break: break-all;
}

.info td {
    background-color: var(--Blockquote);
    padding: 2px;
    border-left: 3px solid var(--Accent);
    border-right: 3px solid var(--Accent);
    text-align: center;
    justify-content: center;
}

.info img {
    margin: auto;
    max-width: 90%;
    object-fit: scale-down;
}

/*#endregion Info tables*/

/*#region Blockquotes*/

blockquote {
    background-color: var(--Blockquote);
    font-family: "b612 mono";
    font-style: italic;
    padding: 10px;
    border-left: 3px solid var(--Accent);
    border-right: 3px solid var(--Accent);
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

blockquote[blame]::after {
    font-size: 0.9rem;
    content: "- " attr(blame);
    color: var(--Accent);
    margin-left: auto;
    padding-top: 10px;
}

blockquote p {
    margin: 0;
}

[gradient] {
    background-color: transparent;
    padding-right: 150px;
    border-right: none;
    background-image: linear-gradient(to right, var(--Gradient), transparent);
}

/*#endregion Blockquotes*/

/*#region Images*/
img {
    margin-top: 2px;
    max-height: 100%;
    max-width: 100%;
}

[lr="left"] {
    float: left;
    margin: 5px;
}

[lr="right"] {
    float: right;
    margin: 5px;
    margin-left: 19px;
}

[lr]::after {
    height: 0;
    content: '';
    width: 100%;
    clear: both;
    display: block;
}

/*#endregion Images*/

/*#region Links */
.external-link {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url("../images/external-link-ltr-icon.png");
    background-image: linear-gradient(transparent, transparent), url("../images/external.svg");
    padding-right: 13px;
}

/*#endregion Links*/

/*#region Code Blocks*/

/*#region Basic*/

code {
    font-family: "Space Mono";
}

p code {
    height: fit-content;
    width: fit-content;
    color: var(--Highlight3);
    background-color: var(--CodeBlock);
    border: 2px solid var(--CodeBorder);
    padding: 0 5px 0 5px;
    font-size: 0.8em;
}

/*#endregion Basic*/

/*#region Highlighted*/

figure.highlight,
figure.highlighter-rouge {
    width: 100%;
    height: fit-content;
    display: flex;
    /* align-items: top; */
    justify-content: right;
    position: relative;
    margin: 10px auto 10px auto;
    overflow-x: scroll;
    justify-content: left;
    background-color: var(--CodeBlock);
    border: 2px solid var(--CodeBorder);
    padding: 5px;
    color: var(--Highlight2);
    font-size: 0.9rem;
}

div.highlight {
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    padding: 0 0 0 0;
}

.highlight pre {
    margin: 5px 0 5px 0;
}

/*#endregion Highlighted*/

/*#region Language declarations */
.highlight figcaption,
.highlighter-rouge figcaption {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0 10px 0 5px;
    text-align: right;
    font-size: 0.9rem;
    color: var(--Highlight);
}

.highlight figcaption, .highlighter-rouge figcaption {
    color: var(--Highlight2);
}

/*#endregion Language declarations */

/*#region Code blocks with line numbering */
table.rouge-table {
    width: 100%;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.rouge-table td {
    border: none;
    background-color: transparent;
    text-align: left;
    font-style: normal;
    padding: 0 0 0 5px;
}

td.gutter {
    width: 10px;
    padding: 0 5px 0 0;
    border-right: 2px solid var(--Highlight);
}

/*#endregion Code blocks with line numbering*/
/*#endregion Code blocks*/

/*#region Misc*/

hr {
    color: var(--Sidebar);
    border-radius: 2px;
    border-top: var(--Sidebar) solid 2px;
    border-bottom: 1px solid var(--Highlight2);
}

a {
    color: rgb(232, 157, 46);
    text-decoration: dotted;
}

strong {
    color: var(--Accent);
}

/*#endregion Misc*/

/*#region Mobile display*/

@media(max-width: 800px) {

    menu {
        display: none;
    }
    body {
        justify-content: center;
    }

    main {
        width: calc(100vw - 20px);
        height: calc(100vh - 2 * var(--TBarHeight));
        grid-template-columns: 100%;
        justify-items: left;
        overflow-x: hidden;
        padding: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    header {
        display: flex;
        justify-content: center;
    }

    header>nav:last-of-type {
        display: none;

    }

    header>nav:first-of-type {
        position: fixed;
        bottom: 0;
        display: flex;
        font-size: 2rem;
        justify-content: center;
        width: 100vw;
        padding: 10px;
        background-color: var(--TopBar);
        border-top: 2px solid var(--Background);
    }

    #results {
        width: 90vw;
        position: absolute;
        top: var(--TBarHeight);
        left: 5vw;
        font-size: 2rem;
        margin: 0;
    }

    nav>div {
        width: 20%;
        text-align: center;
        justify-content: center;
        background-color: var(--Blockquote);
        border-left: none;
        border-bottom: 5px solid var(--Accent);
    }

    .center-buttons {
        width: 100%;
    }

    input {
        font-size: 2rem;
    }

    [lr] {
        float: none;
        clear: both;
    }

    table {
        clear: both;
        width: 100%;
    }

    .info {
        width: fit-content;
    }
}

/*#endregion Mobile display*/