@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    overscroll-behavior: none;
    --accent-light: #0044cc; /* fallback or default for light mode */
    --accent-dark: #6699ff;  /* fallback or default for dark mode */
    --SBarWidth: 320px;
    --TBarHeight: 54px;
    --A1: rgb(232, 157, 46);
    --A2: rgb(232, 192, 46);
    /* ============================================================================================== */
    /* DARK MODE */
    --LDOne: #FFFFFF;
    --LDTwo: #000000;
    --Sidebar: #101010;
    --Content: #201f1f;
    --TopBar: var(--Content);
    --TopBarButtons: var(--Sidebar);
    --Blockquote: #1b1b1b;
    --BlockquoteD: #191919;
    --Gradient: var(--Sidebar);
    --SearchBar: var(--BlockquoteD);
    --Resultsbox: #151515ea;
    --ResultsDark: rgba(0, 0, 0, 0.132);
    --ResultsBorder: var(--Sidebar);
    --Background: rgb(32, 32, 32);
    --Text: whitesmoke;
    --NavButton: rgb(22, 2, 2);
    --CodeBorder: var(--Highlight);
    --Highlight: #727272;
    --Highlight2: #949494;
    --Highlight3: var(--Text);
    --SbarBorder: rgb(32, 32, 32);
    --Shadow: rgba(0, 0, 0, 0.226);
    --CodeBlock: rgb(7, 8, 46);
}

*{box-sizing: border-box;}

[data-theme="light"] {
    /* ============================================================================================= */
    /* LIGHT MODE */
    --Accent: var(--accent-light);
    --Accent2: var(--accent-dark);
    --LDOne: #000000;
    --LDTwo: var(--SearchBar);
    --Sidebar: var(--Content);
    --Content: #f5f2f2;
    --TopBar: var(--Background);
    --TopBarButtons: var(--Background);
    --Blockquote: #f5f2f2;
    --BlockquoteD: #ebebe5;
    --Gradient: #e1e3d8;
    --SearchBar: var(--ResultsDark);
    --Resultsbox: #f1f1f1;
    --ResultsDark: #f4f4f4;
    --ResultsBorder: var(--Accent);
    --Background: rgb(236, 236, 236);
    --Text: rgb(0, 0, 0);
    --NavButton: rgb(236, 236, 236);
    --CodeBorder:var(--Text);
    --Highlight: #aeaeae;
    --Highlight2: #ece9e9;
    --Highlight3: var(--Highlight2);
    --SbarBorder: rgb(236, 236, 236);
    --Shadow: rgba(184, 184, 184, 0.094);
    --CodeBlock: rgb(40, 45, 116);
    /* ============================================================================================= */
}

body {
    --Accent: var(--accent-dark);
    --Accent2: var(--accent-light);
    display: flex;
    flex-flow: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin:0;
    font-family: "B612 Mono", monospace;
    font-size: 1.3rem;
    background-color: var(--Background);
    color: var(--Text);
    box-sizing: border-box;
}

/* ================================================================================================== */
/* NAVIGATION */

header {
    width: 100%;
    height: var(--TBarHeight);
    font-family: "Exo 2";
    z-index: 3;
    background-color: var(--TopBar);
    position: fixed;
    top: 0;
    margin-bottom: auto;
    /* order: 1; */
    padding: 5px;
    border-bottom: 1px solid --Sidebar;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    box-shadow: 0 5px var(--Shadow);
    align-items: center;
}

header > nav , header > span {
    display: inline-flex;
}

header button , search {
    border: none;
    height: fit-content;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    border-left: 5px solid var(--Accent);
    margin: 0.2rem;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-size: 1.3rem;
}

header > nav:first-of-type {
    justify-content: left;
}
header > nav:last-of-type {
    justify-content: right;
}

header > span {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header > nav > button {
    background-color: var(--TopBarButtons);
   
}

button:hover , search:hover {
    border-left: 5px solid var(--Accent2);
}
button:active {
    border-left: 5px solid var(--TopBar);
}

/* SEARCH BAR */

search {
    background-color: var(--SearchBar);
}

input {
    font-size: 1.3rem;
    border:none;
    background-color: transparent;
    color: var(--Text);
}

input:focus, textarea {
    outline: none !important;
    color: var(--Accent);
}

#results {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    width: 30%;
    padding: 5px;
    height: fit-content;
    float: right;
    clear: right;
    color: var(--Text);
    background-color: var(--Resultsbox);
    list-style-type: none;
    text-align: left;
    border: 2px solid var(--ResultsBorder);
    border-top: none;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

#results li:nth-of-type(2n) {
    background-color: var(--ResultsDark);
}

.LightDark {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid var(--LDOne);
    background-image: linear-gradient(to right, var(--LDOne) 0%, var(--LDOne) 50%, var(--LDTwo) 50%, var(--LDTwo) 100%);
}

.LightDark:hover {
    border: 2px solid var(--LDTwo);
    background-image: linear-gradient(to right, var(--LDTwo) 0%, var(--LDTwo) 50%, var(--LDOne) 50%, var(--LDOne) 100%);
}

/* ================================================================================================= */

footer {
    position: sticky;
    bottom: 0;
    background-color: var(--TopBar);
    border-top: 2px solid var(--Highlight);
    width: 100%;
}

/* ================================================================================================== */
/* MAIN */

main {
    text-align: center;
    width: calc(100vw - var(--SBarWidth) - 10px);
    margin: var(--TBarHeight) auto 0 auto;
    background-color: var(--Content);
    padding: 0 5px 0 5px;
    border-top: 2px solid var(--Background);
    height: calc(100vh - var(--TBarHeight));
    overflow-y: scroll;
    overscroll-behavior-y: contain;
}

main > header {
    position: sticky;
    top: 0;
}

/* ================================================================================================== */

body > :not(header, menu, main) {
    order: 2;
    max-width: calc(100vw - (2 * var(--SBarWidth)) - 10px);
    margin: 0 calc(var(--SBarWidth) + 5px) 0 calc(var(--SBarWidth) + 5px);
    padding: 5px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    z-index: 1;
    background-color: transparent;
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar:hover {
    background-color: var(--Highlight);
    width: 5px;
}

::-webkit-scrollbar-track:hover {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--Text);
}

/* ================================================================================================== */
/* HEADINGS */

h1 {
    margin: 0;
    font-family: "Exo 2";
    font-size: 10rem;
}

h2 {
    margin: 0;
    font-family: "Exo 2";
    font-size: 3rem;
}

/* ================================================================================================== */
/* MISC */

hr {
    color: var(--Sidebar);
    border-radius: 2px;
    border-top: var(--Sidebar) solid 2px;
    border-bottom: var(--Accent) solid 1px;
}
a {
    color: rgb(232, 157, 46);
    text-decoration: dotted;
}

/* =================================================================================================== */

/* MOBILE DISPLAY */

@media(max-width: 800px) {

    menu {
        display: none;
    }

    main {
        width: calc(100vw - 20px);
        height: calc(100vh - 2 * var(--TBarHeight));
        grid-template-columns: 100%;
        justify-items: left;
        overflow-x: hidden;
        padding: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    header {
        display: flex;
        justify-content: center;
    }
    header > nav:last-of-type {
        display: none;
        
    }

    header > nav:first-of-type {
        position: fixed;
        bottom: 0;
        display: flex;
        font-size: 2rem;
        justify-content: center;
        width: 100vw;
        padding: 10px;
        background-color: var(--Sidebar);
        border-top: 2px solid var(--Background);
    }
    nav > div {
        width: 20%;
        text-align: center;
        justify-content: center;
        background-color: var(--Blockquote);
        border-left: none;
        border-bottom: 5px solid var(--Accent);
    }
    .center-buttons{
        width: 100%;
    }
    input{
        width: 100%;
        font-size: 2rem;
    }
    [lr]{
        float: none;
        clear: both;
    }
    table {
        clear: both;
        width: 100%;
    }

    .info{
        width: fit-content;
    }
}