<!DOCTYPE html>
<html>
  {%- comment -%} <head> metadata. {%- endcomment -%}
  {%- include bakery-wiki/head.html -%}

  {%- comment -%} enable dynamic page accents. {%- endcomment -%}
  {%- include bakery-wiki/accents.html -%}
  <body data-theme>
    {%- include bakery-wiki/navBar.html -%}
    {%- comment -%} Add the sidebar unless the page has it disabled {%- endcomment -%}
    {%- if page.sidebar != false -%}
    <menu>
        {%- include bakery-wiki/toc/toc.html title=" " minHeaders=1 html=content sanitize=true class="SideBar" id="git-wiki-toc" h_min=1 h_max=3 -%}
    </menu>
    {%- endif -%}
    {% if site.inc_before_content %}
    {% include {{ site.inc_before_content }} %}
    {% endif %}
    <main>
        {%- if page.title -%}
        <h1 id="art-title" >{{page.title}}</h1>
        {%- endif -%}
        {{ content }}
        {%- assign items = site.html_pages -%}
        {%- for page in items -%}
        {%- assign url = page.url | relative_url -%}
        {%- assign urls = urls | append: url | append: "," -%}
        {%- endfor -%}
    </main>
    {% if site.inc_after_content %}
    {% include {{ site.inc_after_content }} %}
    {% endif %}
  <script type="text/javascript">
    $(document).ready(function () {
        $(document.body).checkLinks("{{ urls }}".split(","));
        console.log("Henwo");
    });
  </script>
  </body>

</html>
